<div th:fragment="enviar-a-corregir(ordenId)" class="modal fade" th:id="'modalEnviarACorregir-' + ${ordenId}" tabindex="-1">
  <div class="modal-dialog">
    <form action="/ordenes/enviar-a-corregir" method="post">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">¿Cu&aacute;l es la correcci&oacute;n?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
        <div class="modal-body">
          <input type="hidden" name="id" th:value="${ordenId}">
          <textarea name="motivo" class="form-control" rows="5"
                    placeholder="Escribí acá los cambios o correcciones..." required></textarea>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger">Enviar a Corregir</button>
        </div>
      </div>
    </form>
  </div>
</div>