.contenedor-pagina-en-proceso {
    width: 95%;
    height: 95%;
}

.pagina-en-proceso {
    width: 100%;
}

.capitalize:first-letter {
    text-transform: uppercase;
}

.btn-buscador {
    border: none;
}

.ver-btn-buscador {
    background-color: var(--color-azul);
}

.ver-btn-buscador:hover {
    background-color: var(--color-azul-hover);
}

.editar-btn {
    background-color: var(--color-amarillo);
}

.editar-btn:hover {
    background-color: var(--color-amarillo-hover);
}

.eliminar-btn {
    background-color: var(--color-magenta);
}

.eliminar-btn:hover {
    background-color: var(--color-magenta-hover);
}

.checkbox-seleccionar-orden, #checkbox-seleccionar-todas-las-ordenes {
    cursor: pointer;
    transform: scale(1.2);
}

#btn-eliminar-masivo {
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.modal-historial {
  max-width: 85vw;
}

.modal-historial thead tr {
    font-family: 'Lemon Milk';
}