.contenido-pagina-listado {
    font-size: 0.85rem;
}

/* GENERAL*/
.contenedor-selector-producto {
    width: 75%;
    margin: 1em auto;
}

.contenedor-selector-producto .titulo-filtro {
    font-size: 1.2em;
    color: var(--color-magenta);
    font-family: 'Lemon Milk';
}

.contenedor-selector-producto select {
    font-size: 1em;
    margin-top: 8px;
    border: 1px solid var(--color-magenta);
}

.divider-listado {
    border: 1px solid var(--color-divider);
    margin: 1em 3em 2em 3em;
}

p {
    margin-bottom: 0;
}

.contenedor-kanban-ordenes {
    width: 95%;
}

.titulo-columna {
    padding: 0.8em;
    color: var(--color-negro);
    font-weight: bold;
    text-align: center;
    font-size: 1.1em;
    border-radius: 20px;
}

.falta-abonar {
    font-family: 'Lemon Milk';
    text-align: center;
    color: var(--color-magenta);
    margin: 8px;
}

.card {
    margin-top: 1em;
    border-radius: 20px;
}

.card-body {
    line-height: 1.6em;
    padding: 0.8em 1.3em !important;
}

.card-body li {
    margin-left: 24px;
}

/* COLUMNA SIN HACER */
.columna-sin-hacer .titulo-columna {
    background-color: var(--color-sin-hacer);
}

.columna-sin-hacer .card {
    border: 3px solid var(--color-sin-hacer);
}

.btn-columna-sin-hacer,
.columna-sin-hacer .btn-marcar-abonado:hover {
    background-color: var(--color-sin-hacer);
}

.btn-columna-sin-hacer:hover {
    background-color: #C79BD4;
}

.columna-sin-hacer .btn-marcar-abonado {
    background-color: var(--color-blanco-puro);
    border: 3px solid var(--color-sin-hacer);
}

.columna-sin-hacer .btn-marcar-abonado:hover {
    background-color: var(--color-sin-hacer);
}

/* COLUMNA EN PROCESO */
.columna-en-proceso .titulo-columna {
    background-color: var(--color-en-proceso);
}

.columna-en-proceso .card {
    border: 3px solid var(--color-en-proceso);
}

.btn-columna-en-proceso {
    background-color: var(--color-en-proceso);
}

.btn-columna-en-proceso:hover {
    background-color: #F6E15D;
}

.columna-en-proceso .btn-marcar-abonado {
    background-color: var(--color-blanco-puro);
    border: 3px solid var(--color-en-proceso);
}

.columna-en-proceso .btn-marcar-abonado:hover {
    background-color: var(--color-en-proceso);
}

/* COLUMNA LISTAS PARA RETIRAR */
.columna-lista-para-retirar .titulo-columna  {
    background-color: var(--color-lista-para-retirar);
}

.columna-lista-para-retirar .card {
    border: 3px solid var(--color-lista-para-retirar);
}

.btn-columna-lista-para-retirar {
    background-color: var(--color-lista-para-retirar);
}

.btn-columna-lista-para-retirar:hover {
    background-color: #81C862;
}

.columna-lista-para-retirar .btn-marcar-abonado {
    background-color: var(--color-blanco-puro);
    border: 3px solid var(--color-lista-para-retirar);
}

.columna-lista-para-retirar .btn-marcar-abonado:hover {
    background-color: var(--color-lista-para-retirar);
}

/* COLUMNA CORREGIR */
.columna-corregir .titulo-columna {
    background-color: var(--color-corregir);
}


.columna-corregir .card {
    border: 3px solid var(--color-corregir);
}

.btn-cambio-estado,
.btn-correccion {
    font-size: 1em;
    color: var(--color-negro);
    border: none;
    border-radius: 10px;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.btn-cambio-estado:hover,
.btn-correccion:hover {
    color: var(--color-negro);
}

.columna-corregir .btn-marcar-abonado {
    background-color: var(--color-blanco-puro);
    border: 3px solid var(--color-corregir);
}

.columna-corregir .btn-marcar-abonado:hover {
    background-color: var(--color-corregir);
}